<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Admin UI
      <small>Demo Project</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <!--------------------------
      | Your Page Content Here |
      -------------------------->
    <p-tabView>
      <p-tabPanel header="Header 1" [closable]="true">
          Content 1
      </p-tabPanel>
      <p-tabPanel header="Header 2" [closable]="true">
          Content 2
      </p-tabPanel>
      <p-tabPanel header="Header 3" [closable]="true">
          Content 3    
      </p-tabPanel>
    </p-tabView>

  </section>
  <!-- /.content -->
</div>