<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Admin UI
      <small>Demo Project</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <nz-tabset [nzType]="'card'">
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
          <div>{{ tab }}<i *ngIf="tab != 'Home'" class="anticon anticon-close" (click)="closeTab(tab)"></i></div>
        </ng-template>
      </nz-tab>
    </nz-tabset>

  </section>
  <!-- /.content -->
</div>